.large-hero {
    position: relative;
    &__title {
        font-size: 2.15rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        color: $steelBlue;
    }
    &__text-content {
        position: absolute;
        left: 10%;
        top: 35%;
        transform: translateY(-50%);
        &__strip-title {
            padding: 1.25rem, 2.5rem;
            border-radius: 0.375rem, 0.375rem, 0, 0;
            background-color: $mainBlue;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 1px;
            font-weight: 900;
            font-size: 0.85rem;
            margin-bottom: 0;
        }
    }
}